/* reset.css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.wrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 0;
  > h1 {
    font-size: 32px;
    font-weight: 700;
  }
}
.lank-board {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  font-size: 14px;
  & th {
    border: solid 1px #000;
    padding: 5px;
    font-weight: 700;
  }
  & tr {
    padding: 5px;
    width: 100%;
  }
  & td {
    border: solid 1px #000;
    max-width: 200px;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
  }
}
.modal {
  position: fixed;
  z-index: 99;
  min-width: 200px;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fefefe;
  border-radius: 3px;
  border-top: 3px solid #00c0ef;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
}
.canvas-wrap {
  display: flex;
  > div {
    border: solid 1px #000;
  }
}
